body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    padding: 2rem;
}

h1, h2, h3 {
    color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #0066cc;
}

.wrapper {
    width: 60%; /* Make the content area 60% of the viewport width */
    margin: 0 auto; /* Center the content */
    padding: 0 1rem; /* Add some padding on the sides */
}
